{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container">
    <!-- first column -->
    <div>
        {% include 'base/topic_component.html' %}
    </div>

    <!-- second column -->
    <div>
        <h5>{{room_count}} rooms avaliables</h5>
        <a href="{% url 'create-room' %}">Create Room</a>

        {% include 'base/feed_component.html' %}

    </div>

    <!-- third column -->
    <div>
        {% include 'base/activity_component.html' %}
    </div>

    
</div>


{% endblock %}